body {
    font-family:'Times New Roman', Times, serif;
    background-color:#cbcac7;
    color: #1c2418;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Times New Roman";
    
}

h1{

font-size:  40px;
}

h2{
    text-align: center;

}

header {
    text-align: center;
}

#hero, footer {
    color:#8E4129;
    border: 10px solid #789a2e;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

    box-shadow: 25px 25px 5px rgba(0,0,0,.2)inset;

background-color:#C1D6CF;
text-align: center;
padding: 10px;
margin: 30px;

}

/* Hero Section*/

#hero img {
width: 300px;

}
/* Bio Section*/

#bio {
    text-align: center;

}

/* Hobbies Section*/

#hobbies ul :nth-last-child(even){
    color: #8E4129;


}
/* Gallery Section*/

#gallery {
    border: 2px solid#61a5ed;
}

#gallery img {

    max-width:100% ;
}

#gallery figure{
    text-align: "center";
}